@tailwind base;
@tailwind components;
@tailwind utilities;

.content_padding {
    padding: 2rem 1rem;
    border-bottom: 1px solid #D1D5DB;
}

.content_gray {
    background-color: #EEEEEE;
}

.rating-component {
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 1.6rem;
    letter-spacing: 0em;
    text-align: center;
}

.rating-header {
    margin-bottom: 1rem;
}

.rating-icons {
    justify-content: space-evenly;
    margin: 0 1rem;
}

.rating-selected {
    padding: 0.1rem 0.4rem;
    background-color: #7C3AED;
    color: white;
    border-radius: 0.5rem;
}

.rating-unselected {
    opacity: 33%;
}

.ant-tabs-nav-wrap {
    justify-content: right;
}

.image-fallback-fill {
    position: relative !important;
    max-height: 26vh;
}

.recommend-card .ant-card-cover{
    height: 8rem !important;
}