@tailwind base;
@tailwind components;
@tailwind utilities;

.content_padding {
    padding: 2rem 1rem;
}

.content_gray {
    background-color: #EEEEEE;
}

.rating-component {
    margin-top: 3rem;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 2rem;
    letter-spacing: 0em;
    text-align: center;
}

.rating-header {
    margin-bottom: 1rem;
}

.rating-icons {
    justify-content: space-evenly;
    margin: 0 1rem;
}

.rating-selected {
    padding: 0.1rem 0.5rem;
    background-color: #7C3AED;
    color: white;
    border-radius: 0.5rem;
}

.ant-tabs-nav-wrap {
    justify-content: right;
}